.OurFormula {
    text-align: center;
    font-family: 'SimsSun';
    padding: 0%;
    color: rgb(0, 0, 0);
    margin-left: 37.5%;
    width: 25%;
    margin-top: 20px;
    margin-bottom: 0px;
}

.DoIt2It {
    text-align: center; 
    font-family: 'SimsSun'; 
    padding: 0%; 
    color:rgb(0, 0, 0); 
    margin-left: 37.5%; 
    width: 25%; 
    margin-top: 20px; 
    margin-bottom: 0px;
}