.Footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: grid;
    justify-content:center;
    align-items: center;
    font-family: 'SimsSun'; 
    padding: 0%; 
    color:rgb(0, 0, 0); 
    width: 100%;
    height: 200px;
    font-size: 40px;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    display: grid;
    opacity: .9;
    box-shadow: inset;
    box-shadow: 10px 10px 10px 10px rgb(255, 0, 0);
    border-radius: 25px 25px 25px 25px; #FFD700
    margin-top: 0px; 
    margin-bottom: 0px;
}

#X {
    font-size: 17px;
    font-family: 'monospace';
    font-weight: auto;
    margin-right: 10px;
    font-weight: bold;
}

.GitHub {
    font-size: 17px;
    font-family: 'monospace';
    font-weight: bold;
    color: #000;
}

.FooterText {
    text-align: center;
    font-family: 'SimsSun';
    font-weight: bold;
    font-size: 17px;
    margin-left: 10px;
    /* margin-top: 5px; */
}

#FooterIcon {
    width: 50px;
    height: auto;
    background: transparent !important;
    mix-blend-mode: multiply;
}

#ReactIcon {
    margin-left: 10px;
    background: transparent !important;
    mix-blend-mode: multiply;
    background-blend-mode: exclusion !important; ?
}